article.project div.front {
	transform: rotateY(0deg);
}

article.project div.back {
	transform: rotateY(180deg);
}

article.project div.side {
	transition-property: transform;
	transition-duration: 1.7s;
	transition-timing-function: ease-in-out;
}

article.project:hover div.front {
	transform: rotateY(180deg);
}

article.project:hover div.back {
	transform: rotateY(0deg);
}

article.project > * {
	backface-visibility: hidden;
}