:root {
	--back-side-padding: 5px;
}

* {
	margin: 0;
	padding: 0;
}

.container {
	display: grid;
	grid-template-rows: 5rem auto auto 3rem;
}

header {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

header nav {
	display: flex;
	justify-content: space-between;
}

header nav a {
	margin: 0px 1rem;
}

section#about-me {
	height: 100vh;
}

section#projects {
	display: flex;
	flex-direction: column;
}

div.projects {
	display: grid;
	align-self: center;
	width: 75%;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 3rem;
}

article.project {
	position: relative;
}

article.project div.side {
	width: 100%;
	height: 100%;
}

article.project div.front {
	display: flex;
	flex-direction: column;
	flex-basis: 12rem;
	margin: auto;
}

article.project div.back ul.tags {
	display: flex;
	flex-wrap: wrap;
}

.tag {
	margin: 0.2rem 0.3rem;
}

article.project div.back {
	position: absolute;
	top: 0;
	padding: var(--back-side-padding);
	width: calc(100% - 2 * var(--back-side-padding));
	height: calc(100% - 2 * var(--back-side-padding));;
}

article.project img {
	max-width: 100%;
}

article.project h3 {
	text-align: center;
	margin: 0.5rem 0rem;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
}

div#background {
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: -1;
	top: 0;
}