:root {
	--radius:.5rem;
}

* {
	font-family:sans-serif;
	list-style-type:none;
}

article.project {
	background-image:url(./resources/steel-background.jpg);
	background-size:100%;
	border-radius:var(--radius);
}

article > * {
	background-color:#FFF;
	border-radius:var(--radius);
	box-shadow:12px 12px 42px -10px grey;
}

article img {
	border-radius:var(--radius) var(--radius) 0 0;
}

a {
	text-decoration:none;
}

nav h2 {
	padding: 0rem 0.4rem;
	border-radius: 0.6rem;
	background-color: #AAAAAA;
	transition-property: background-color;
	transition-duration: 0.4s;
}

nav h2:hover {
	background-color: #000000;
}

nav h2 a {
	color: black;
	transition-property: color;
	transition-duration: 0.4s;
}

nav h2:hover a {
	color: white;
}

.tag {
	background-color:rgba(8,92,170,0.5);
	border-radius:3px;
	color:#000;
	padding:2px 3px;
}

img.icon {
	width:1rem;
}

#projects,footer {
	background-color:#FFF;
}