:root {
	--radius: 0.5rem;
}

* {
	font-family: sans-serif;
	list-style-type: none;
}

.container {
}

header {
	background-color: #536D97;
}

#about-me {
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
}

#projects {
	background-color: white;
}

footer {
	background-color: white;
}

article {
}

article > * {
	background-color: #A05656;
	border-radius: var(--radius);
	box-shadow: 12px 12px 42px -10px grey;
}

article img {
	border-radius: var(--radius) var(--radius) 0px 0px;;
}