:root {
	--radius:.5rem;
	--transition-duration: 0.2s;
}

* {
	font-family: Arial, sans-serif;
	list-style-type:none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Georgia, serif;
}

article.project {
	background-image:url(./resources/steel-background.jpg);
	background-size:100% 100%;
	/*background: linear-gradient(106deg, rgb(132, 134, 131) 0%, rgb(133, 137, 136) 86%);*/
	border-radius:var(--radius);
	box-shadow: inset 20px 20px 20px 0px rgba(0, 0, 0, 0.5);
}

article > * {
	background-color:#FFF;
	border-radius:var(--radius);
	box-shadow:12px 12px 42px -10px grey;
}

article img {
	border-radius:var(--radius) var(--radius) 0 0;
}

a {
	text-decoration:none;
}

nav ul li {
	padding: 0rem 0.4rem;
	border-radius: 1rem;
	border: 1px solid black;
	transition-property: background-color;
	transition-duration: var(--transition-duration);
}

nav ul li:hover {
	background-color: #000000;
}

nav ul li a {
	color: black;
	transition-property: color;
	transition-duration: var(--transition-duration);
}

nav ul li:hover a {
	color: white;
}

.tag {
	background-color:rgba(8,92,170,0.5);
	border-radius:3px;
	color:#000;
	padding:2px 3px;
}

img.icon {
	width:1rem;
}

#projects,footer {
	background-color:#FFF;
}

div.side h3 a:link {
	color: #000000;
}

div.side h3 a:visited {
	color: #5C3B5B;
}

div.side h3 a:active {
	color: #979797;
}