:root {
	--back-side-padding:5px;
}

* {
	margin:0;
	padding:0;
}

.container {
	display:grid;
	grid-template-rows:5rem repeat(3,auto) 3rem;
	grid-gap:1.8rem;
}

header {
	display:flex;
	justify-content:space-around;
	align-items: center;
}

header button {
	display: none;
}

header nav ul {
	display: flex;
	justify-content: space-between;
	font-size: 1.3em;
}

header nav ul li {
	margin: 0 1rem;
}

section#projects {
	display: flex;
	flex-direction: column;
	align-items: center;
}

div.projects {
	display: grid;
	align-self: center;
	width: 86%;
	grid-template-columns: repeat(3,1fr);
	grid-gap: 3rem;
}

article.project {
	position:relative;
	height:min-content;
}

article.project div.side {
	width:100%;
	height:100%;
}

article.project div.front {
	display:flex;
	flex-direction:column;
	flex-basis:12rem;
	margin:auto;
}

article.project div.back ul.tags {
	display:flex;
	flex-wrap:wrap;
}

.tag {
	margin:.2rem .3rem;
}

article.project div.back {
	position:absolute;
	top:0;
	width:calc(100% - 2 * var(--back-side-padding));
	height:calc(100% - 2 * var(--back-side-padding));
	padding:var(--back-side-padding);
}

article.project img {
	width:100%;
	max-height:16rem;
	object-fit:fill;
}

article.project h3 {
	text-align:center;
	margin:.5rem 0;
}

footer {
	display:flex;
	justify-content:center;
	align-items:center;
}

div#background {
	position:fixed;
	width:100vw;
	height:100vh;
	z-index:-1;
	top:0;
}

div.tags {
	position:absolute;
	bottom:var(--back-side-padding);
}

img.headshot {
	display: inline;
	width: 10rem;
	border-radius: 50%;
	box-shadow: 9px 5px 32px 0px grey;
	height: 100%;
}

section#about-me {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
}

section#about-me h2 {
	margin-bottom: 1rem;
}

section#about-me div.contents {
	display: flex;
	width: 50%;
	justify-content: space-between;
	align-items: center;
}

section#about-me div.contents > * {
	margin: 0px 1rem;
}

section#projects h2 {
	margin-bottom: 2rem;
}

section#contact {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

section#contact div.content {
	display: flex;
}

section#contact div.content > * {
	display: block;
	margin: 1rem;
}

canvas {
	width: 100%;
}

@media screen and (max-width: 1060px){
	section#projects div.projects {
		grid-template-columns: repeat(2, 1fr);
		width: 75%;
	}
}

@media screen and (max-width: 950px){
	section#about-me div.contents {
		flex-direction: column;
		width: 90%;
	}

	section#about-me div.contents p {
		margin-top: 1.5rem;
		text-align: center;
	}
}

@media screen and (max-width: 800px) {
	div.projects {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}

	div.projects article.project {
		width: 100%;
		margin: 3rem 0;	
	}

	section#about-me div.contents > * {
		margin: 0;
	}
}

@media screen and (max-width: 600px){
	header {
		flex-direction: column;
	}

	div.projects {
		width: 90%;
	}
}

@media screen and (max-width: 425px){

	header {
		flex-direction: row;
	}

	header button {
		display: flex;
		background: gainsboro;
		border: 3px solid black;
		border-radius: 31%;
		padding: 1px;
		transform: scale(0.9);
	}

	header nav {
		visibility: hidden;
		opacity: 0;
		position: absolute;
		top: 4.4rem;
		transform: translateX(-110%);
	}

	section#about-me div.contents img.headshot {
		width: 100%;
		border-radius: 3%;
	}
}

@media screen and (max-width: 376px){
	header nav {
		font-size: 0.9rem;
	}

	header nav ul li {
		margin: 0 0.5rem;
	}
}

@media screen and (max-width: 320px){
	span.unimportant {
		display: none;
	}
}